* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
html,
body {
  margin: 0;
  height: 100%;
  background: #f4f5f9;
}
li {
  list-style: none;
}
@root-color-a: #001429;
@root-color-b: #028bff;
@root-color-f5: #f5f5f5;
@root-color-bg: #f4f5f9;
:root {
  --el-color-primary: #028bff;
}
